---
import BaseLayout from '@layouts/BaseLayout.astro';
import Story from '@components/Story.astro';
import RetroHero from '@components/RetroHero.astro';
import ScoreTable from '@components/ScoreTable.astro';
import RetroStatus from '@components/RetroStatus.astro';
import { Sprite } from 'astro-icon';

const pageTitle = "ANON:Brand";

import anonFullLogoDark from '@images/svg/anon-full-logo-dark.svg';
import anonFullLogoLight from '@images/svg/anon-full-logo-light.svg';
import anonLogoShortOnLight from '@images/svg/anon-logo-short-on-light.svg';
import anonLogoShortOnDark from '@images/svg/anon-logo-short-on-dark.svg';
---

<BaseLayout title={pageTitle}>
  <div class="layout__section section">
    <div class="section-header section-header--offset-bottom">
      <h1 class="section-header__title title">Brand assets</h1>
      <div class="section-header__desc">
        <p class="section-header__text">The following rules must be&nbsp;followed when promoting ANON in&nbsp;digital or&nbsp;printed materials.</p>
      </div>
    </div>

    <div class="brand">
      <div class="brand__section">
        <div class="brand__header">
          <h2 class="brand__title">Logo</h2>
        </div>
        <div class="brand__logos">
          <div class="brand-logo-grid">
            <ul class="brand-logo-grid__list">
              <li class="brand-logo-grid__item">
                <div class="brand-logo">
                  <div class="brand-logo__frame">
                    <img src={anonFullLogoDark.src} alt="ANON Full Logo Dark Color." class="brand-logo__img">
                  </div>
                  <div class="brand-logo__legend">Light background logo <span class="brand-logo__value">#1D1018</span></div>
                  <div class="brand-logo__footer link-controls">
                    <a href="https://storage.anon.tg/assets/anon_brand/logo/anon_logo_dark.png" download class="link-controls__item" type="button">png</a>
                    <a href="https://storage.anon.tg/assets/anon_brand/logo/anon_logo_dark.svg" download class="link-controls__item" type="button">svg</a>
                  </div>
                </div>
              </li>
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--dark-full">
                  <div class="brand-logo__frame">
                    <img src={anonFullLogoLight.src} alt="ANON Full Logo Dark Color." class="brand-logo__img">
                  </div>
                  <div class="brand-logo__legend">Dark background logo <span class="brand-logo__value">#FFFFFF</span></div>
                  <div class="brand-logo__footer link-controls">
                    <a href="https://storage.anon.tg/assets/anon_brand/logo/anon_logo_light.png" class="link-controls__item" download type="button">png</a>
                    <a href="https://storage.anon.tg/assets/anon_brand/logo/anon_logo_light.svg" class="link-controls__item" download type="button">svg</a>
                  </div>
                </div>
              </li>
              <li class="brand-logo-grid__item">
                <div class="brand-logo">
                  <div class="brand-logo__frame">
                    <img src={anonLogoShortOnLight.src} alt="ANON Short Logo Dark Color." class="brand-logo__img">
                  </div>
                  <div class="brand-logo__legend">Light background short logo <span class="brand-logo__value">#1D1018 #FFFFFF</span></div>
                  <div class="brand-logo__footer link-controls">
                    <a href="https://storage.anon.tg/assets/anon_brand/logo/anon_short_logo_light_background.png" class="link-controls__item" download type="button">png</a>
                    <a href="https://storage.anon.tg/assets/anon_brand/logo/anon_short_logo_light_background.svg" class="link-controls__item" download type="button">svg</a>
                  </div>
                </div>
              </li>
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--dark-short">
                  <div class="brand-logo__frame">
                    <img src={anonLogoShortOnDark.src} alt="ANON Short Logo Dark Color." class="brand-logo__img">
                  </div>
                  <div class="brand-logo__legend">Dark background short logo <span class="brand-logo__value">#1D1018 #FFFFFF</span></div>
                  <div class="brand-logo__footer link-controls">
                    <a href="https://storage.anon.tg/assets/anon_brand/logo/anon_short_logo_dark_background.png" class="link-controls__item" download type="button">png</a>
                    <a href="https://storage.anon.tg/assets/anon_brand/logo/anon_short_logo_dark_background.svg" class="link-controls__item" download type="button">svg</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="brand__section">
        <div class="brand__header">
          <h2 class="brand__title">Fonts</h2>
        </div>

        <div class="font-ex">
          <div class="font-ex__body">
            <div class="font-ex__section font-ex__section--heading">
              <div class="font-ex__header">
                <div class="font-ex__title">Inter Bold</div>
                <div class="font-ex__legend">Heading</div>
              </div>
              <div class="font-ex__content">
                <p class="font-ex__text">ANON mattis nulla dui sodales in sed mattis pulvinar</p>
              </div>
            </div>
            <div class="font-ex__section font-ex__section--subtitle">
              <div class="font-ex__header">
                <div class="font-ex__title">Inter Medium</div>
                <div class="font-ex__legend">Subtitle</div>
              </div>
              <div class="font-ex__content">
                <p class="font-ex__text">ANON mattis nulla dui sodales in sed mattis pulvinar</p>
              </div>
            </div>
            <div class="font-ex__section">
              <div class="font-ex__header">
                <div class="font-ex__title">Inter Regular</div>
                <div class="font-ex__legend">Basic for text blocks</div>
              </div>
              <div class="font-ex__content">
                <p class="font-ex__text font-ex__text--offset-bottom">ANON mattis nulla dui sodales in sed mattis pulvinar risus nulla sodales molestie lectus sapien augue molestie imperdiet molestie est. Et. Augue pulvinar odio. Amet morbi mattis justo sapien lacinia</p>
                <p class="font-ex__text">ANON mattis nulla dui sodales in sed mattis pulvinar risus nulla sodales molestie lectus sapien augue molestie imperdiet molestie est. Et. Augue pulvinar odio. Amet morbi mattis justo sapien lacinia</p>
              </div>
            </div>
          </div>
          <div class="font-ex__footer">
            <a href="https://storage.anon.tg/assets/anon_brand/font/font_inter.zip" class="font-ex__link">Download font family</a>
          </div>
        </div>

      </div>

      <div class="brand__section">
        <div class="brand__header">
          <h2 class="brand__title">Gradients</h2>
        </div>
        <div class="brand__logos">
          <div class="brand-logo-grid">
            <ul class="brand-logo-grid__list">
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--gradient-1">
                  <div class="brand-logo__frame"></div>
                  <div class="brand-logo__legend"><span class="brand-logo__value">#00B2FF</span></div>
                </div>
              </li>
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--gradient-2">
                  <div class="brand-logo__frame"></div>
                  <div class="brand-logo__legend"><span class="brand-logo__value">#FF017B</span></div>
                </div>
              </li>
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--gradient-3">
                  <div class="brand-logo__frame"></div>
                  <div class="brand-logo__legend"><span class="brand-logo__value">#FF9901</span></div>
                </div>
              </li>
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--gradient-4">
                  <div class="brand-logo__frame"></div>
                  <div class="brand-logo__legend"><span class="brand-logo__value">#8001FF</span></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="brand__section">
        <div class="brand__header">
          <h2 class="brand__title">Backgrounds</h2>
        </div>
        <div class="brand__logos">
          <div class="brand-logo-grid brand-logo-grid--bg">
            <ul class="brand-logo-grid__list">
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--bg-1 brand-logo--sq">
                  <div class="brand-logo__frame"></div>
                  <div class="brand-logo__footer link-controls">
                    <a href="https://storage.anon.tg/assets/anon_brand/backgrounds/space_bg1.png" download class="link-controls__item" type="button">png</a>
                  </div>
                </div>
              </li>
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--bg-2 brand-logo--sq">
                  <div class="brand-logo__frame"></div>
                  <div class="brand-logo__footer link-controls">
                    <a href="https://storage.anon.tg/assets/anon_brand/backgrounds/space_bg2.png" download class="link-controls__item" type="button">png</a>
                  </div>
                </div>
              </li>
              <li class="brand-logo-grid__item">
                <div class="brand-logo brand-logo--bg-3 brand-logo--sq">
                  <div class="brand-logo__frame"></div>
                  <div class="brand-logo__footer link-controls">
                    <a href="https://storage.anon.tg/assets/anon_brand/backgrounds/space_bg3.png" download class="link-controls__item" type="button">png</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="brand__section">
        <div class="brand__header brand__header--desc">
          <h2 class="brand__title">Name</h2>
          <div class="brand__desc">
            <p class="brand__text">Correct spelling of&nbsp;the name. Use only capital letters just like a&nbsp;coin ticker $ANON</p>
          </div>
        </div>

        <div class="name-spelling">
          <div class="name-spelling__item">
            <Sprite name="yep" class="name-spelling__icon" />
            <div class="name-spelling__title">ANON</div>
          </div>
          <div class="name-spelling__item name-spelling__item--not">
            <Sprite name="not" class="name-spelling__icon" />
            <div class="name-spelling__title">
              <span class="name-spelling__variant">Anon</span>
              <span class="name-spelling__variant">anon</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</BaseLayout>
